body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(98.3deg, rgb(0, 0, 0) 10.6%, rgb(255, 0, 0) 97.7%);
}

ul {
    display: flex;
    flex-direction: row-reverse;
}

li {
    list-style: none;
    font-size: 4em;
    color: white;
    font-weight: bold;
    letter-spacing: 10px;
    transition: 4s;
}

ul li:hover,
ul li:hover ~ li
{
    transform: rotate(180deg) translateY(-200px);
    transition: 2s;
    filter: blur(20px);
    opacity: 0;
}

@media screen and (max-width : 600px) {
    ul li:nth-child(9)
    {
        display: none;
    }
    
    ul li:nth-child(8)
    {
        clear: right;
        display: block;
    }
}
